.cat-select-input-disabled {
  background-color: #f1f1f1;
  color: #a8a8a8;
}

.cat-select-input-disabled:hover {
  cursor: not-allowed;
}

.cat-select-input-disabled input {
  color: #a8a8a8;
}


.cat-select-input-disabled input:hover {
  cursor: not-allowed;
}