.cat-message-list {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.cat-msg-item {
  margin-bottom: 10px;
}

@keyframes showHide {
  0% {
    opacity: 0;
    margin-top: -20px;
  }

  5%,
  95% {
    opacity: 1;
    margin-top: 0;
  }

  100% {
    opacity: 0;
    margin-top: -20px;
  }
}