.cat-uploader-li {
  height: 22px;
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 2px;
}

.cat-uploader-li:hover {
  background-color: #f3f3f3;
  border-radius: 3px;
  transition: all .5s;
}

.cat-upload-hide {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.cat-uploader-li .remove {
  display: none;
  cursor: pointer;
}

.cat-uploader-li:hover .remove {
  display: inline-block;
}

.cat-uploader-li:hover .status {
  display: none;
}

.cat-uploader-li .icon {
  flex: none;
}

.cat-file-name {
  flex: auto;
  padding-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cat-file-success {
  color: var(--blue)
}

.cat-file-error {
  color: var(--red);
}

.cat-file-loading {
  color: #333;
}

.cat-file-ready {
  color: gray;
}

.cat-hide {
  animation: hide 1.5s forwards;
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}