.cat-progress .inner {
  transition: all .5s;
}

.cat-progress-line {
  background-color: #f1f1f1;
}

.cat-progress-line .inner {
  height: 100%;
  text-align: center;
}

.cat-progress-circle {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.cat-progress-circle .inner {
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}