.cat-menu {
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
}

.cat-menu-horizon {
  display: flex;
}

.cat-menu-item {
  display: flex;
  align-items: center;
  height: 3em;
  padding: 0 20px;
}

.cat-menu-item:hover {
  color: var(--blue);
}

.cat-submenu-list {
  min-width: 100px;
}

.cat-submenu-list-shadow {
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
  background-color: #fff;
  border-radius: 3%;
}

.cat-submenu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  padding: 0 20px;
}

.cat-submenu-title:hover {
  color: var(--blue);
}

/* 高亮样式 */
.cat-menu-cur-right {
  border-right: 3px solid var(--blue);
}

.cat-menu-cur-txt {
  color: var(--blue);
}

.cat-menu-cur-bottom {
  border-bottom: 2px solid var(--blue);
}

.cat-menu-cur-bg {
  background-color: #e6f7ff;
  color: var(--blue);
}

/* 显示方式 */
.cat-sub-arrow-right {
  transform: rotate(90deg);
}

.cat-submenu-list-fold {
  display: none;
}